<%- include("header.ejs"); -%>
<title>Home</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Montserrat&display=swap" rel="stylesheet">
<link href="/css/todos.css" rel="stylesheet">
</head>

<body>
    <div class="hero">
        <div class="container">
            <h1 class="heading">To-Do's</h1>
            <a href="#" class="btn">Create a New To-Do!</a>
            <!-- array of already existed todos -->
            <% if(todos.length>0){ %>
                <p class="content">Existing To-do's</p>
            <% } %>
            <div class="todos">
                <% for(let i=0;i<todos.length;i++){ %>
                    <a href="#" class="btn todo"> <% todos[i].title %> </a>
                <% } %>
            </div>
        </div>
    </div>
</body>

<%- include("footer.ejs"); -%>