.container{
    width:80%;
    max-width:1120px;
    margin:0 auto;
}

.hero{
    padding:7% 0;
}

.heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1rem;
}

.content{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

.notes{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
}

.note-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-div{
    border: 1px solid #937DC2;
    padding :1rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    border-radius: 15px;
}

.note
{
    margin-right: 2rem;
    text-decoration: none;
    color: black;
}

.note:hover{
    color: black;
}

.btn{
    padding: 0.8rem 2rem;
    /* background-color: #0AA1DD; */
    border-color: #937DC2;
    border-radius: 15px;
    margin:2rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.btn:hover{
    background-color: #937DC2;
    border-color: #937DC2;
}

.submit-btn{
    padding: 0.4rem 1rem;
    /* background-color: #0AA1DD; */
    border-color: #937DC2;
    border-radius: 15px;
    margin:1rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.submit-btn:hover{
    background-color: #937DC2;
    border-color: #937DC2;
}